
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

	<link href="/contents/css/site.css" rel="stylesheet" />
</head>
<body>
	<h1>INDEX</h1>
</body>
</html>
