
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HEAD {
	<link href="~/assets/css/Index.css" rel="stylesheet" />
	<link href="/assets/lib/OwlCarousel/dist/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="/assets/lib/OwlCarousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
}


@section PAGE_TOP {
	<div class="owl-carousel owl-theme main-carousel">
		<a class="item">
			<img class="poster" src="/assets/img/p-4.jpg" />
		</a>
		<a class="item">
			<img class="poster" src="/assets/img/p-2.jpg" />
		</a>
		<a class="item">
			<img class="poster" src="/assets/img/p-3.jpg" />
		</a>
		<a class="item">
			<img class="poster" src="/assets/img/p-1.jpg" />
		</a>
	</div>
	<div class="seleted-films-link">
		<a>برای مشاهده لیست کامل فیلم های جدید برگزیده اینجا کلیک کنید >>></a>
	</div>
}

<div class="main-header">
	<h3 class="title">آخرین فیلم‌های ثبت شده در سایت</h3>
</div>

<div class="film-list">
	<div class="item">

		<div class="poster-container">
			<a>
				<img class="poster" src="/assets/img/p-3.jpg" />
			</a>
		</div>

		<div class="info-container">
			<div class="title">
				<a>Incredibles 2 (2018)</a>
			</div>

			<div class="quality">
				<span class="text">کیفیت تصویر:</span>
				<span class="value">BluRay 1080p</span>
			</div>

			<div class="score">
				<span class="imdb">8.5</span>
				<span class="site">9</span>
			</div>

			<div class="genre-critic">
				<div class="genres">
					<a class="item">اکشن</a>،
					<a class="item">انیمیشن</a>،
					<a class="item">ماجراجویی</a>
				</div>

				<div class="critics">
					<span class="text">نمره منتقدین:</span>
					<span class="value"><b>80</b>/100</span>
				</div>
			</div>

			<div class="description">
				شگفت‌انگیزان ۲ ، فیلمی انیمیشنی محصول سال ۲۰۱۸ به کارگردانی برد برد است. در خلاصه داستان قسمت دوم شگفت‌انگیزان آمده است ، هنگامی که هلن مشغول نجات دنی...
			</div>

			<div class="director-country">
				<div class="directors">
					<span class="text">کارگردان:</span>
					<span class="value">
						<a class="item">Brad Bird</a>
					</span>
				</div>

				<div class="countries">
					<span class="text">کشور:</span>
					<span class="value">
						<a class="item">آمریکا</a>
					</span>
				</div>
			</div>

			<div class="cast">
				<span class="text">ستارگان:</span>
				<span class="value">
					<a class="item">Holly Hunter</a>،
					<a class="item">Jonathan Banks</a>،
					<a class="item">Samuel L. Jackson</a>
				</span>
			</div>
		</div>

	</div>


	<div class="item">

		<div class="poster-container">
			<a>
				<img class="poster" src="/assets/img/p-1.jpg" />
			</a>
		</div>

		<div class="info-container">
			<div class="title">
				<a>Skyscraper (2018)</a>
			</div>

			<div class="quality">
				<span class="text">کیفیت تصویر:</span>
				<span class="value">BluRay 1080p</span>
			</div>

			<div class="score">
				<span class="imdb">6.1</span>
				<span class="site">8.5</span>
			</div>

			<div class="genre-critic">
				<div class="genres">
					<a class="item">اکشن</a>،
					<a class="item">جنایی</a>،
					<a class="item">درام</a>
				</div>

				<div class="critics">
					<span class="text">نمره منتقدین:</span>
					<span class="value"><b>52</b>/100</span>
				</div>
			</div>

			<div class="description">
				آسمان خراش ، یک فیلم در سبک اکشن و ماجرایی محصول سال ۲۰۱۸ به کارگردانی راوسون مارشال تربر است. در این فیلم دواین جانسون بازیگر بسیار مطرح و معروف سینم...
			</div>

			<div class="director-country">
				<div class="directors">
					<span class="text">کارگردان:</span>
					<span class="value">
						<a class="item">Rawson Marshall Thurber</a>
					</span>
				</div>

				<div class="countries">
					<span class="text">کشور:</span>
					<span class="value">
						<a class="item">آمریکا</a>
					</span>
				</div>
			</div>

			<div class="cast">
				<span class="text">ستارگان:</span>
				<span class="value">
					<a class="item">Dwayne Johnson</a>،
					<a class="item">Neve Campbell</a>،
					<a class="item">Noah Taylor</a>
				</span>
			</div>
		</div>

	</div>


	<div class="item">

		<div class="poster-container">
			<a>
				<img class="poster" src="/assets/img/p-3.jpg" />
			</a>
		</div>

		<div class="info-container">
			<div class="title">
				<a>Incredibles 2 (2018)</a>
			</div>

			<div class="quality">
				<span class="text">کیفیت تصویر:</span>
				<span class="value">BluRay 1080p</span>
			</div>

			<div class="score">
				<span class="imdb">8.5</span>
				<span class="site">9</span>
			</div>

			<div class="genre-critic">
				<div class="genres">
					<a class="item">اکشن</a>،
					<a class="item">انیمیشن</a>،
					<a class="item">ماجراجویی</a>
				</div>

				<div class="critics">
					<span class="text">نمره منتقدین:</span>
					<span class="value"><b>80</b>/100</span>
				</div>
			</div>

			<div class="description">
				شگفت‌انگیزان ۲ ، فیلمی انیمیشنی محصول سال ۲۰۱۸ به کارگردانی برد برد است. در خلاصه داستان قسمت دوم شگفت‌انگیزان آمده است ، هنگامی که هلن مشغول نجات دنی...
			</div>

			<div class="director-country">
				<div class="directors">
					<span class="text">کارگردان:</span>
					<span class="value">
						<a class="item">Brad Bird</a>
					</span>
				</div>

				<div class="countries">
					<span class="text">کشور:</span>
					<span class="value">
						<a class="item">آمریکا</a>
					</span>
				</div>
			</div>

			<div class="cast">
				<span class="text">ستارگان:</span>
				<span class="value">
					<a class="item">Holly Hunter</a>،
					<a class="item">Jonathan Banks</a>،
					<a class="item">Samuel L. Jackson</a>
				</span>
			</div>
		</div>

	</div>


	<div class="item">

		<div class="poster-container">
			<a>
				<img class="poster" src="/assets/img/p-1.jpg" />
			</a>
		</div>

		<div class="info-container">
			<div class="title">
				<a>Skyscraper (2018)</a>
			</div>

			<div class="quality">
				<span class="text">کیفیت تصویر:</span>
				<span class="value">BluRay 1080p</span>
			</div>

			<div class="score">
				<span class="imdb">6.1</span>
				<span class="site">8.5</span>
			</div>

			<div class="genre-critic">
				<div class="genres">
					<a class="item">اکشن</a>،
					<a class="item">جنایی</a>،
					<a class="item">درام</a>
				</div>

				<div class="critics">
					<span class="text">نمره منتقدین:</span>
					<span class="value"><b>52</b>/100</span>
				</div>
			</div>

			<div class="description">
				آسمان خراش ، یک فیلم در سبک اکشن و ماجرایی محصول سال ۲۰۱۸ به کارگردانی راوسون مارشال تربر است. در این فیلم دواین جانسون بازیگر بسیار مطرح و معروف سینم...
			</div>

			<div class="director-country">
				<div class="directors">
					<span class="text">کارگردان:</span>
					<span class="value">
						<a class="item">Rawson Marshall Thurber</a>
					</span>
				</div>

				<div class="countries">
					<span class="text">کشور:</span>
					<span class="value">
						<a class="item">آمریکا</a>
					</span>
				</div>
			</div>

			<div class="cast">
				<span class="text">ستارگان:</span>
				<span class="value">
					<a class="item">Dwayne Johnson</a>،
					<a class="item">Neve Campbell</a>،
					<a class="item">Noah Taylor</a>
				</span>
			</div>
		</div>

	</div>
</div>

<div class="pagination-container">
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">قبلی</span>
			</a>
		</li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">بعدی</span>
			</a>
		</li>
	</ul>
</div>
