@font-face {
	font-family: 'vazir';
	src: url('/assets/lib/vazir/vazir.eot') format('embedded-opentype'), url('/assets/lib/vazir/vazir.ttf') format('truetype'), url('/assets/lib/vazir/vazir.woff') format('woff'), url('/assets/lib/vazir/vazir.woff2') format('woff2');
}

html {
	font: 14px vazir;
}

body {
	font: inherit;
	direction: rtl;
	text-align: right;
}

header {
	background: #444;
	color: #fff;
}

	header .container {
		display: flex;
		justify-content: space-between;
	}

	header .logo .title {
		font-size: 1.1rem;
	}

nav {
	background: #535c5a;
	color: #fff;
}


	nav .menu {
		display: flex;
	}

		nav .menu > .item {
			position: relative;
			padding: 1em;
		}

			nav .menu .item:hover .sub-menu {
				display: block;
			}

			nav .menu .item .sub-menu {
				display: none;
				position: absolute;
				top: 3.5em;
				right: 0;
				background: #535c5a;
				width: 500px;
			}
